.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  width: 100%;

  .languageSwitcher {
    margin-left: 3rem;
    height: 3rem;
    width: 4rem;
    border: none;
    background-size: cover;
    background-position: center;
    &.polishLanguage {
      background-image: url("../Shered/components/flagOfPoland.jpg");
    }
    &.englishLanguage {
      background-image: url("../Shered/components/flagOfGB.png");
      background-size: 7rem 7rem;
    }
  }
  .MainNavi {
    display: none;
  }
  .NavigationMenu {
    display: flex;
    .hamburgerIcon {
      display: flex;
      margin-right: 2rem;
      padding: 1em;
      width: 2rem;
      height: 3rem;
      justify-content: space-around;
      flex-flow: column nowrap;
      z-index: 100;
      cursor: pointer;

      .burger {
        width: 3rem;
        height: 0.25rem;
        border-radius: 10px;
        background-color: white;
        transform-origin: 1px;
        transition: transform 0.3s linear;

        &:nth-child(1) {
          transform: rotate(0);
          margin-top: 0;
        }

        &:nth-child(2) {
          transform: scaleX(1);
          opacity: 1;
        }

        &:nth-child(3) {
          transform: rotate(0);
          margin-bottom: 0;
        }
      }
    }
    .navigation {
      display: none;
    }
    &.open {
      .burger {
        background-color: blue;

        &:nth-child(1) {
          transform: rotate(45deg);
          margin-top: 0;
        }

        &:nth-child(2) {
          transform: scaleX(0);
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
          margin-bottom: 0;
        }
        z-index: 1000;
      }
      .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        left: 0rem;
        transform: translateX(0);
        max-height: 100vh;
        width: 100%;
        z-index: 10;
        .profilContainer {
          display: flex;
          flex-direction: column;
          position: relative;
          align-items: center;
          align-content: space-around;
          margin-top: 5rem;
          left: -3rem;
          height: 20rem;
          width: 140%;
          border-radius: 8px;
          color: white;
          background-color: rgb(27, 25, 25);
          .image {
            position: relative;
            top: 1rem;
            width: 10rem;
            height: 10rem;
            background-image: url(../Shered/components/ZdjecieMoje.jpg);
            background-size: cover;
            border-radius: 50%;
          }
          h1 {
            position: relative;
            top: 1rem;
            letter-spacing: 2px;
          }
          .ikons {
            position: relative;
            top: 1rem;
            width: 60%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            a {
              color: white;
              font-size: 1.4rem;
            }
            a:hover {
              color: blue;
            }
          }
        }
        ul {
          position: relative;
          left: -5.5rem;
          width: 140%;
          list-style: none;

          li {
            padding: 0.5rem;
            font-size: 2rem;
            border-radius: 8px;
            background-color: rgb(27, 25, 25);

            a {
              margin-left: 2rem;
              font-size: 1.4rem;
              color: white;
              text-decoration: none;
              svg {
                margin-right: 2rem;
              }
            }
            a:hover {
              color: blue;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .NavBar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    width: 40%;

    .languageSwitcher {
      position: relative;
      margin-top: 1em;
      margin-left: 1em;
      height: 3rem;
      width: 4rem;
      border: none;
      background-size: cover;
      background-position: center;
      &.polishLanguage {
        background-image: url("../Shered/components/flagOfPoland.jpg");
      }
      &.englishLanguage {
        background-image: url("../Shered/components/flagOfGB.png");
        background-size: 7rem 7rem;
      }
    }
    .NavigationMenu {
      display: none;
    }
    .MainNavi {
      display: flex;
      align-items: center;
      height: 100vh;
      color: white;
      .leftNavi {
        height: 100%;
        ul {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          left: -2em;
          height: 100%;
          width: 80%;
          border-radius: 8px;
          li {
            list-style: none;
            left: 0;
            button {
              height: 5rem;
              width: 100%;
              padding: 0.5rem;
              color: white;
              background-color: rgb(27, 25, 25);
              cursor: pointer;
              svg {
                font-size: 1.6rem;
              }
            }
          }
        }
      }
      .rightNavi {
        display: flex;
        flex-direction: column;
        .images {
          .swiper-wrapper {
            height: 300px;
            width: 300px;
         }
        }
      }
    }
  }
}
