.aboutMe {
  display: flex;
  flex-direction: column;
  align-content: center;
  color: white;
  padding: 2em;
  height: 100%;
  width: 80%;
  .animated {
    h1 {
      font-size: 2.4rem;
    }
  }
  .welcomeContainer {
    position: relative;
    top: 2rem;
    h2 {
      margin-bottom: 2em;
      text-align: center;
      font-size: 1.6rem;
    }
    p {
      font-size: 1.4rem;
    }
  }

  .accordion {
    margin-top: 4em;
    width: 100%;
    border-radius: 6px;
    .accordionBox {
      margin: 20px;
      .animated {
        button {
          margin-top: 1em;
          padding: 0.5rem;
          width: 90%;
          font-size: 2rem;
          text-align: center;
          border: none;
          color: white;
          border-radius: 6px;
          background: none;
          transition: background-color 0.3s;
          cursor: pointer;
          overflow: hidden;
          &:hover,
          &:focus {
            background-color: rgb(22, 21, 21);
            color: white;
            outline: none;
          }
        }
      }
      .infoText {
        display: block;
        padding: 1em 2em;
        li {
          font-size: 1.2rem;
          margin-bottom: 0.5em;
          span {
            margin-left: 4em;
          }
        }
        .active {
          display: block;
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .aboutMe {
    margin-left: 46%;
    width: 52%;
    .animated {
      h1 {
        color: #0076e8;
        margin-top: 5rem;
        font-size: 2.4rem;
      }
    }
    .accordion {
      margin-top: 4em;
      width: 100%;
      border-radius: 6px;
      .accordionBox {
        margin: 20px;
        .animated {
          button {
            margin-top: 1em;
            width: 90%;
            font-size: 2rem;
            text-align: center;
            border: none;
            border-radius: 6px;
            transition: background-color 0.3s;
            cursor: pointer;
            &:hover,
            &:focus {
              background-color: rgb(22, 21, 21);
              color: orange;
              outline: none;
            }
          }
        }
        .infoText {
          display: block;
          padding: 1em 2em;
          li {
            margin-bottom: 0.5em;
            &::marker {
              color: orange;
            }
            span {
              margin-left: 4em;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1190px) {
  .aboutMe {
    margin-left: 50%;
    width: 48%;
    .animated {
      h1 {
        color: #0076e8;
        margin-top: 5rem;
        font-size: 2.4rem;
      }
    }
    
  }
}

@media screen and (min-width: 1400px) {
  .aboutMe {
    margin-left: 42%;
    width: 55%;
    .animated {
      h1 {
        color: #0076e8;
        margin-top: 5rem;
        font-size: 2.4rem;
      }
    }
    
.accordion {
  margin-top: 4em;
  width: 100%;
  border-radius: 6px;
  .accordionBox {
    margin: 20px;
    .animated {
      button {
        margin-top: 1em;
        width: 90%;
        font-size: 2rem;
        text-align: center;
        border: none;
        border-radius: 6px;
        transition: background-color 0.3s;
        cursor: pointer;
        &:hover,
        &:focus {
          background-color: rgb(22, 21, 21);
          color: orange;
          outline: none;
        }
      }
    }
    .infoText {
      display: block;
      padding: 1em 2em;
      li {
        margin-bottom: 0.5em;
        &::marker {
          color: orange;
        }
        span {
          margin-left: 4em;
        }
      }
    }
  }
}
}
}