.aboutMe {
  display: flex;
  flex-direction: column;
  align-content: center;
  color: white;
  padding: 4em;
  height: 100%;
  width: 80%;
  h1 {
    font-size: 2.4rem;
  }
  .welcomeContainer {
    position: relative;
    top: 2rem;
    left: 2rem;
    h2 {
      margin-bottom: 2em;
      text-align: center;
      font-size: 1.6rem;
    }
    p {
      font-size: 1.4rem;
    }
  }

  .accordion {
    margin-top: 4em;
    width: 100%;
    background-color: black;
    border-radius: 6px;
    .accordionBox {
      margin: 20px;
      button {
        margin-top: 1em;
        width: 100%;
        font-size: 2rem;
        text-align: center;
        border: none;
        border-radius: 6px;
        transition: background-color 0.3s;
        cursor: pointer;
        &:hover,
        &:focus {
          background-color: rgb(22, 21, 21);
          color: white;
          outline: none;
        }
      }
      .infoText {
        display: none;
        padding: 1em 2em;
        li {
          margin-bottom: 0.5em;
          span {
            margin-left: 4em;
          }
        }
      }
      .active {
        display: block;
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .aboutMe {
    display: flex;
    color: white;
    margin-left: 40%;
    height: 100%;
    width: 60%;
  }
}
