.resume {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white;
  top: 5rem;
  .timeLine {
    position: relative;
    width: 100%;
    max-width: 600px;
    ul {
      display: flex;
      flex-direction: column;
      margin: 0 1em;
      list-style: none;
      padding-inline-start: 0;
      li {
        position: relative;
        text-align: center;
        margin: 1em;
        padding: 0.5em;
        width: 60%;
        border: 1px solid #0076e8;
        border-radius: 8px;
        .data1 {
          opacity: 0;
          position: absolute;
          top: calc(40% - 25px);
          left: 17rem;
          transition: opacity 0.3s ease;
        }
        .data2 {
          opacity: 0;
          position: absolute;
          top: calc(40% - 25px);
          right: 17rem;
          transition: opacity 0.3s ease;
        }
        &:hover .data1 {
          opacity: 1;
        }
        &:hover .data2 {
          opacity: 1;
        }
        &:after {
          position: absolute;
          top: calc(50% - 10px);
          width: 20px;
          height: 20px;
          background-color: #0076e8;
          border-radius: 50%;
          content: "";
        }
        &:nth-child(even) {
          align-self: flex-end;
          transform: translateX(20px);
        }
        &:nth-child(even)::after {
          left: -1.5rem;
        }
        &:nth-child(odd) {
          transform: translateX(-20px);
        }
        &:nth-child(odd)::after {
          right: -1.5rem;
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .resume {
    .timeLine {
      margin-top: 4rem;
      max-width: 700px;
      width: 100%;
      ul {
        display: flex;
        flex-direction: column;
        margin: 0 2em;
        list-style: none;
        padding-inline-start: 0;
        li {
          position: relative;
          margin-bottom: 2em;
          padding: 1em;
          width: 50%;
          border: 1px solid #0076e8;
          border-radius: 8px;
          p {
            font-size: 1.4rem;
          }
          .data1 {
            opacity: 0;
            position: absolute;
            top: calc(40% - 25px);
            left: 30rem;
            transition: opacity 0.3s ease;
          }
          .data2 {
            opacity: 0;
            position: absolute;
            top: calc(40% - 25px);
            right: 30rem;
            transition: opacity 0.3s ease;
          }
          &:after {
            position: absolute;
            top: calc(50% - 10px);
            width: 20px;
            height: 20px;
            background-color: #0076e8;
            border-radius: 50%;
            content: "";
          }
          &:nth-child(even) {
            align-self: flex-end;
            transform: translateX(80px);
          }
          &:nth-child(even)::after {
            left: -2.5rem;
          }
          &:nth-child(odd) {
            transform: translateX(-80px);
          }
          &:nth-child(odd)::after {
            right: -2.5rem;
          }
        }
      }
      &::before {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 2px;
        height: 100%;
        background-color: #0076e8;
        content: "";
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .resume {
    display: flex;
    margin-left: 50%;
    width: 50%;
    .timeLine {
      position: relative;
      width: 100%;
      max-width: 600px;
      ul {
        display: flex;
        flex-direction: column;
        margin: 0 1em;
        list-style: none;
        padding-inline-start: 0;
        li {
          position: relative;
          text-align: center;
          margin: 1em;
          padding: 0.5em;
          width: 60%;
          border: 1px solid #0076e8;
          border-radius: 8px;
          .data1 {
            opacity: 0;
            position: absolute;
            color: orange;
            top: calc(40% - 25px);
            left: 24rem;
            transition: opacity 0.3s ease;
          }
          .data2 {
            opacity: 0;
            position: absolute;
            color: orange;
            top: calc(40% - 25px);
            right: 24rem;
            transition: opacity 0.3s ease;
          }
          &:hover .data1 {
            opacity: 1;
          }
          &:hover .data2 {
            opacity: 1;
          }
          &:after {
            position: absolute;
            top: calc(50% - 10px);
            width: 20px;
            height: 20px;
            background-color: #0076e8;
            border-radius: 50%;
            content: "";
          }
          &:nth-child(even) {
            align-self: flex-end;
            transform: translateX(20px);
          }
          &:nth-child(even)::after {
            left: -2.5rem;
          }
          &:nth-child(odd) {
            transform: translateX(-20px);
          }
          &:nth-child(odd)::after {
            right: -2.5rem;
          }
        }
      }
      &::before {
        display: none;
      }
    }}}
    @media screen and (min-width: 1190px) {
      .resume {
        display: flex;
        margin-left: 47%;
        width: 50%;
        .timeLine {
          margin-top: 4rem;
          max-width: 700px;
          width: 100%;
          ul {
            display: flex;
            flex-direction: column;
            margin: 0 2em;
            list-style: none;
            padding-inline-start: 0;
            li {
              position: relative;
              margin-bottom: 2em;
              padding: 1em;
              width: 50%;
              border: 1px solid #0076e8;
              border-radius: 8px;
              p {
                font-size: 1.4rem;
              }
              .data1 {
                opacity: 0;
                position: absolute;
                top: calc(40% - 25px);
                left: 30rem;
                transition: opacity 0.3s ease;
              }
              .data2 {
                opacity: 0;
                position: absolute;
                top: calc(40% - 25px);
                right: 30rem;
                transition: opacity 0.3s ease;
              }
              &:after {
                position: absolute;
                top: calc(50% - 10px);
                width: 20px;
                height: 20px;
                background-color: #0076e8;
                border-radius: 50%;
                content: "";
              }
              &:nth-child(even) {
                align-self: flex-end;
                transform: translateX(80px);
              }
              &:nth-child(even)::after {
                left: -2.5rem;
              }
              &:nth-child(odd) {
                transform: translateX(-80px);
              }
              &:nth-child(odd)::after {
                right: -2.5rem;
              }
            }
          }
          &::before {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            width: 2px;
            height: 100%;
            background-color: #0076e8;
            content: "";
          }
        }    
    }
  }